@font-face {
  font-family: 'Muli';
  src: url("./../assets/fonts/Muli.ttf") format("truetype"), url("./../assets/fonts/Muli.woff") format("woff"), url("./../assets/fonts/Muli.woff2") format("woff2"); }

@font-face {
  font-family: 'Muli-Bold';
  src: url("./../assets/fonts/Muli-Bold.ttf") format("truetype"), url("./../assets/fonts/Muli-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Muli-ExtraBold';
  src: url("./../assets/fonts/Muli-ExtraBold.ttf") format("truetype"), url("./../assets/fonts/Muli-ExtraBold.woff") format("woff"), url("./../assets/fonts/Muli-ExtraBold.woff2") format("woff2"); }

body {
  background: #eff2f7; }

.btn {
  border: 1px solid #EA433D;
  border-radius: 20px;
  background: #ffffff;
  padding: 10px;
  color: #EA433D;
  font-family: Muli-ExtraBold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer; }
  .btn-solid {
    color: #ffffff;
    background: #EA433D; }

h2 {
  font-size: 18px;
  color: #000000;
  font-family: "Muli-Bold", sans-serif;
  margin: 0; }

p {
  margin: 0; }

.app-wrapper {
  width: 360px;
  margin: 0 auto;
  background-color: #F4F4F4; }

header nav {
  box-shadow: #EA433D;
  display: flex;
  align-items: center;
  padding: 18px 16px; }
  header nav img {
    margin-right: 16px; }
  header nav h2 {
    color: #1E2021; }
  header nav span {
    margin: 0 7px 0 auto;
    color: #EA433D;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Muli-ExtraBold", sans-serif; }

header .timer {
  background: #ffffff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  header .timer h2 {
    padding-top: 15px; }
  header .timer p {
    font-size: 12px;
    color: #8E8F90;
    text-transform: uppercase;
    font-family: "Muli-Bold", sans-serif;
    padding: 4px 0 16px;
    margin: 0; }
  header .timer .meter {
    padding-bottom: 10px;
    margin: 0 18px; }
    header .timer .meter .progress {
      background: #F4F4F4;
      display: block;
      content: "";
      height: 8px;
      border-radius: 4px;
      box-shadow: 0 1px 3px inset rgba(0, 0, 0, 0.07); }
      header .timer .meter .progress:after {
        width: 62%;
        height: inherit;
        background: #EA433D;
        display: block;
        content: "";
        border-radius: 10px; }

.order {
  margin: 24px 16px;
  padding: 20px 15px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Muli, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  .order div {
    border-bottom: 2px solid #E8E8E8; }
    .order div:first-child {
      display: flex;
      margin-bottom: 24px;
      border: none; }
      .order div:first-child h2 {
        margin-left: 12px; }
    .order div:last-child {
      border: none; }
  .order-instructions span {
    color: #8E8F90;
    font-size: 13px; }
  .order-instructions p {
    margin-bottom: 24px; }
  .order-item {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .order-item span {
      font-size: 13px;
      color: #616263; }

.address {
  padding: 30px 16px;
  background: #ffffff; }
  .address div {
    display: flex; }
    .address div button {
      width: 100%;
      flex: 1; }
      .address div button:last-child {
        margin-left: 8px; }
  .address p {
    font-family: Muli, sans-serif;
    color: #8E8F90;
    line-height: 20px;
    margin-bottom: 16px; }

.cta {
  margin: 25px 16px; }
  .cta button {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
