@font-face {
    font-family: 'Muli';
    src: url('./../assets/fonts/Muli.ttf')  format('truetype'), 
         url('./../assets/fonts/Muli.woff') format('woff'),          
         url('./../assets/fonts/Muli.woff2') format('woff2'),
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('./../assets/fonts/Muli-Bold.ttf')  format('truetype'), 
         url('./../assets/fonts/Muli-Bold.woff') format('woff'), 
         
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url('./../assets/fonts/Muli-ExtraBold.ttf')  format('truetype'), 
         url('./../assets/fonts/Muli-ExtraBold.woff') format('woff'), 
         url('./../assets/fonts/Muli-ExtraBold.woff2') format('woff2')
         
}